<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <!--<property name="LOG_HOME" value="tdlog"/>-->
    <!--第三方插件打印日志的级别限制-->.
    <property name="T3_LEVEL" value="INFO"/>
    <property resource="application.properties" />
    <springProperty scope="context" name="log.hostId" source="log.hostId"
                    defaultValue="logHostId"/>
    <springProperty scope="context" name="log.home" source="log.home"
                    defaultValue="logHome"/>
    <springProperty scope="context" name="spring.application.name" source="spring.application.name"
                    defaultValue="springApplicationName"/>
    <springProperty scope="context" name="log.ms.version" source="log.ms.version"
                    defaultValue="logMsVersion"/>
    <springProperty scope="context" name="spring.profiles.active" source="spring.profiles.active"
                    defaultValue="logMsVersion"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符(%logger)-->
            <pattern>[%d{MMddHHmmss.SSS}@%level]%msg[%file:%method:%line]-[%thread]%n</pattern>
            <!--<pattern>[%d{yyyyMMddHHmmss}@%tdlevel#%tdhost:${PID}@${spring.application.name}${log.ms.version}]%msg[%file:%method:%line]-[%thread]%n</pattern>-->
            <!--<pattern>[%d{yyyyMMddHHmmss}@%tdlevel#%tdhost:${PID}@%tdms]%msg[%file:%method:%line]-[%thread]%n</pattern>-->
        </encoder>
    </appender>
    <!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/catalina.out</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${log.home}/log_%d{yyyy-MM-dd}.%i.zip</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--<ImmediateFlush>false</ImmediateFlush>-->
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>[%d{MMddHHmmss.SSS}@%level]%msg[%file:%method:%line]-[%thread]%n</pattern>
            <!--<pattern>[%d{yyyyMMddHHmmss}@%tdlevel#%tdhost:${PID}@%tdms]%msg[%file:%method:%line]-[%thread]%n</pattern>-->
        </encoder>
        <!--&lt;!&ndash;日志文件最大的大小&ndash;&gt;-->
        <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
        <!--<MaxFileSize>1MB</MaxFileSize>-->
        <!--</triggeringPolicy>-->
    </appender>
    <!-- 日志输出级别 -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
    <logger name="org.redisson" level="${T3_LEVEL}"/>
    <logger name="org.springframework" level="${T3_LEVEL}"/>
    <logger name="org.mybatis" level="${T3_LEVEL}"/>
    <logger name="com.sun" level="${T3_LEVEL}"/>
    <logger name="com.netflix" level="${T3_LEVEL}"/>
    <logger name="sun.net" level="${T3_LEVEL}"/>
    <logger name="com.baomidou" level="${T3_LEVEL}"/>
    <logger name="org.hibernate" level="${T3_LEVEL}"/>
    <logger name="org.apache" level="${T3_LEVEL}"/>
    <logger name="io" level="${T3_LEVEL}"/>
    <logger name="reactor" level="${T3_LEVEL}"/>
    <logger name="com.zaxxer" level="${T3_LEVEL}"/>
    <!--    <logger name="org.springframework.cloud.stream" level="${T3_LEVEL}"/>-->
    <logger name="org.eclipse" level="${T3_LEVEL}"/>
</configuration>